<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <div class="container">
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.username.label }} <br>
        {{ form.username(size=32)}}
      </p>
      <p>
        {{ form.password.label }} <br>
        {{ form.password(size=32)}}
      </p>
      <p>
      {{ form.submit() }}
      </p>
    </form>
  {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li >{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
   {% endwith %}
</div>
</body>
</html>
